.home-container {
    padding: 0 50px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    text-align: center;
}

.home-card {
    height: 5em;
    background-color: bisque;
    transition: height 1s;
    
}

.home-card a {
    color: black;
}

.home-card:hover {
    height: 7em;
    background-color: mistyrose;
    transition: height 1s; 
}