@import './base.css';
@import './timeline.css';
@import './gridcards.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a,
.latte-navbar {
  text-decoration: none;
  color: #edd2ad;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #270e06;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
