@import './base.css';
@import './timeline.css';
@import './gridcards.css';
@import './menu.css';
@import './home.css';


#webpage {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

@media (hover: hover) {
  nav a:hover {
    background-color: #270e06;
  }
}
