.panel-container {
  padding: 1em 2em;
}

.panel-title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
  font-size: large;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.panel-desc {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  position:relative;
  animation:openPanel 0.4s
}

.panel-off {
  opacity: 0;
  padding: 1em;
  position:relative;
  animation:closePanel 0.4s
}

@keyframes openPanel{
  from{
    top:-30px;opacity:0
  }
  to{
    top:0;opacity:1
  }
}

@keyframes closePanel{
  from{
    top:30px;opacity:0
  }
  to{
    top:0;opacity:1
  }
}


.test-desc {
  display: none;
  overflow: hidden;
  border: solid red 2px;
}

.opened {
  display: block;
  animation:open 0.4s
}

@keyframes open{
  0%   {height: 0;}
  25%  {height: 25%;}
  50%  {height: 50%;}
  100% {height: 100%;}
}
