.panel-container {
  padding: 1em 2em;
}

.panel-title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
  font-size: large;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.panel-desc {
  display: none;
  position: relative;
  gap: 1em;
  padding: 1em;
}
.opened {
  display: flex;
  flex-direction: column;
  animation: openPanel 0.8s;
}
.closed {
  display: none;
  animation: closePanel 0.8s;
}

@keyframes openPanel {
  from {
    top: -30px;
    display: none;
  }
  to {
    top: 0;
    display: flex;
  }
}

@keyframes closePanel {
  from {
    top: 0;
    display: flex;
    flex-direction: column;
  }
  to {
    top: -30px;
    display: none;
    flex-direction: column;
  }
}
